{{#if MSGsuccess}}
    <div class="container">
        <div class="alert alert-success">{{MSGsuccess}}</div>
    </div>
{{/if}}
{{#if MSGerror}}
    <div class="container">
        <div class="alert alert-danger">{{MSGerror}}</div>
    </div>
{{/if}}