
<style>
    body {
        background-color: #232323ee;
    }
</style>

<div class="container mt-5">
    
    <h2 class="text-white">User manager</h2>

    <br>
    <a href="/login">
        <button class="btn btn-primary">Sign in</button>
    </a>
    <br><br>
    <div class="main-text">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae expedita dolorum repellendus sint culpa quaerat, tenetur fugit voluptates quia id ab provident quidem veritatis nostrum doloribus. Deserunt quibusdam dolorem tempore?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae expedita dolorum repellendus sint culpa quaerat, tenetur fugit voluptates quia id ab provident quidem veritatis nostrum doloribus. Deserunt quibusdam dolorem tempore?
        </p>
    </div>

    <footer class="text-center text-white fixed-bottom" style="background-color: black;">
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Developed by:
            <a class="text-white" href="https://linkedin.com/in/oseias-romeiro" target="_blank">Hosea Romeiro</a>
            <br>
            <a class="text-white" href="https://github.com/oseias-romeiro/cbAPI" target="_blank">GitHub</a>
        </div>
    </footer>

    <style>
        .main-text {
            width: 80%;
            color: bisque;
            margin-bottom: 100px;
        }
    </style>
</div>
