
<style>
    body {
        background-color: #232323ee;
    }
</style>

<div class="container mt-5">
    <h2 class="text-white">Bem vindo</h2>

    <br>
    <a href="/login">
        <button class="btn btn-primary">Faça o Login</button>
    </a>
</div>
