<div class="container mt-4">
    <h2>Welcome {{name}}</h2>

    <br>
    <div class="card">
        <div class="card-body">
            <h4>Data</h4>
            <br>
            <h6>Name: {{name}}</h6>
            <h6>Email: {{email}}</h6>
        </div>
    </div><br>

    {{#if sup}}
        <div class="bd-example">
            <a href="/usuario/cadastra" class="link-light">
                <button type="button" class="btn btn-primary">Sign up a user</button>
            </a>
            <a href="/usuario/lista" class="link-light">
                <button type="button" class="btn btn-primary">Users list</button>
            </a>
        </div>
    {{else}}
    {{/if}}
</div>

<style>
    .container {
        margin-top: 5%;
    }
</style>